.App {
  text-align: center;
  min-height: 100vh;
}

.main {
  background-color: rgb(22, 31, 25);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-container {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert-container {
  font-size: calc(10px + 0.5vmin);
}
